#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.read-the-docs {
  color: #888;
}